# üìä Zomato Restaurant Data Analysis (EDA Project)

This project analyzes the Zomato Bangalore restaurant dataset to explore restaurant ratings, cost patterns, and other insights using Python libraries like Pandas, Matplotlib, and Seaborn.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Display settings
pd.set_option('display.max_columns', None)
sns.set(style="whitegrid")

In [ ]:
# Load the dataset
df = pd.read_csv('zomato.csv')
df.head()

In [ ]:
# Dataset information
df.info()

In [ ]:
# Check for missing values
df.isnull().sum()

In [ ]:
# Drop unnecessary columns
df = df.drop(['url', 'address', 'phone', 'dish_liked'], axis=1)

# Drop duplicates and missing values
df.drop_duplicates(inplace=True)
df.dropna(inplace=True)

df.shape

## üî• Top 10 Most Voted Restaurants

In [ ]:
top_votes = df.sort_values(by='votes', ascending=False).head(10)
plt.figure(figsize=(10,5))
sns.barplot(x='name', y='votes', data=top_votes)
plt.xticks(rotation=45)
plt.title("Top 10 Most Voted Restaurants")
plt.show()

## ‚≠ê Rating Distribution

In [ ]:
sns.histplot(df['aggregate_rating'], bins=20, kde=True, color='purple')
plt.title("Distribution of Restaurant Ratings")
plt.xlabel("Rating")
plt.ylabel("Count")
plt.show()

## üí∞ Price Range vs Cost for Two

In [ ]:
sns.boxplot(x='price_range', y='average_cost_for_two', data=df)
plt.title("Price Range vs Average Cost for Two")
plt.xlabel("Price Range")
plt.ylabel("Cost for Two")
plt.show()

## üìå Insights

- Most restaurants have ratings between 3.0 and 4.0.
- High-rated restaurants are mostly in higher price ranges.
- Some restaurants receive high votes regardless of their average rating.
- Cost for two is significantly different across price ranges.

This EDA helps understand consumer preferences and restaurant patterns in Bangalore.